:root {
  // Grayscale
  --grayscale-90: #1A1A20;
  --grayscale-60: #4B4B59;
  --grayscale-40: #8B8B9E;
  --grayscale-30: #A1A1B3;
  --grayscale-20: #BABACB;
  --grayscale-10: #D4D4E1;
  // #F0EFF8;

  // Base
  --base-white: #fff;

  // Brand Palette
  --brand-accent-green: #D1DDB6;
  --brand-accent-gold: #F4AD3A;
  --brand-accent-purple: #D9C2EF;
  --brand-coal-grey: #22242D;
  --brand-light-grey: #EDECF5;

  // Additional
  --additional-bg-grey: #F2F2F9;
  --additional-bg-purple: #DEC6F2;
  --additional-green-100: #F4F8EB;
  --additional-green-600: #C7D3AD;
  --additional-grey-100: #FDFDFE;
  --additional-grey-400: #F4F4F9;
  --additional-gold-50: #FEF7EB;
  --additional-purple-50: #FBF9FD;
  --additional-purple-600: #C5B1D9;

  // Shadow
  --website-drop-shadow: -44px 44px 140px 0 rgba(60, 38, 84, 0.14);
}
